<div class="row">
  <div class="col-lg-12">
    <h1>ユーザー詳細</h1>
    <dl>
      <dt>名前</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.name %></dd>
      <dt>電子メール</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.email %></dd>
    </dl>
    <%= link_to '戻る', users_path, class: "btn btn-default" %>
  </div>

  <hr>
  <h2>返答履歴</h2>
  <% @comments.each do |comment| %>
    <div class="media">
      <div class="media-body">
        <h3><%= comment.room_user.room.name%></h3>
        <p class="text-muted">
          <%= simple_format(comment.body) %>
        </p>
        <p>
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      </div>
    </div>
  <% end %>

</div>
