<div class="row">

  <div class="col-lg-12">
    <h1>相談室一覧</h1>
  </div>

  <div class="col-lg-6">
    <p>相談内容が表示されます。</p>
  </div>

  <div class="col-lg-6">
    <%= link_to '相談室を立ち上げる', new_room_path, class: "btn btn-default pull-right" %>
  </div>

    <table class="table table-striped">
      <thead>
        <th>テーマ</th>
        <th>内容</th>
        <th>作成日</th>
        <th>更新日</th>
        <th>詳細</th>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.name %></td>
            <td><%= room.content %></td>
            <td><%= simple_time(room.created_at) %></td>
            <td><%= simple_time(room.updated_at) %></td>
            <td><%= link_to '詳細', room, class: "btn btn-default btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= paginate @rooms %>

</div>
